In [1]:
import numpy as np
import pandas as pd

In [3]:
pd.Series([1,1,2,3,5,8])

0    1
1    1
2    2
3    3
4    5
5    8
dtype: int64

In [7]:
weather=pd.DataFrame({
    "City": ["MSK", "SPB"],
    "Temperature": [15, 20],
    "State": ["Cloudy", "Clear"]    
})
weather

  City  Temperature   State
0  MSK           15  Cloudy
1  SPB           20   Clear

In [8]:
weather.State

0    Cloudy
1     Clear
Name: State, dtype: object